// basic color options: use only color names as shown in the
// "Color Palette" section of https://tachyons.io/docs/themes/skins/
$siteBgColor: "near-white" ; //near-white
$sidebarBgColor: "light-gray" ;
$textColor: "dark-gray" ;
$sidebarTextColor: "mid-gray" ;
$headlineColor: "dark-pink" ;
$headingColor: "near-black" ;
$bodyLinkColor: "dark-blue" ;
$navLinkColor: "dark-blue" ;
$sidebarLinkColor: "near-black" ;
$footerTextColor: "silver" ;
$buttonTextColor: "near-white" ;
$buttonBgColor: "black" ;
$buttonHoverTextColor: "white" ;
$buttonHoverBgColor: "blue" ;
$borderColor: "moon-gray" ;


// black
// #000000#FFFF00
// near-black
// #111111
// dark-gray
// #333333
// mid-gray
// #555555
// gray
// #777777
// silver
// #999999
// light-silver
// #AAAAAA
// moon-gray
// #CCCCCC
// light-gray
// #EEEEEE
// near-white
// #F4F4F4
// white
// #FFFFFF
// dark-red
// #E7040F
// red
// #FF4136
// light-red
// #FF725C
// orange
// #FF6300
// gold
// #FFB700
// yellow
// #FFD700
// light-yellow
// #FBF1A9
// purple
// #5E2CA5
// light-purple
// #A463F2
// dark-pink
// #D5008F
// hot-pink
// #FF41B4
// pink
// #FF80CC
// light-pink
// #FFA3D7
// dark-green
// #137752
// green
// #19A974
// light-green
// #9EEBCF
// navy
// #001B44
// dark-blue
// #00449E
// blue
// #357EDD
// light-blue
// #96CCFF
// lightest-blue
// #CDECFF
// washed-blue
// #F6FFFE
// washed-green
// #E8FDF5
// washed-yellow
// #FFFCEB
// washed-red
// #FFDFDF
// 
